<!DOCTYPE html>
   <head>
      <title>SmartFarming test </title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
	<h1>Sensor data from {{device}} </h1>
	<h3> EC  ==>  {{ ec  }} </h3>
	<h3> humidity  ==>  {{ humidity  }} %</h3>
	<h3> ph  ==>  {{ ph  }} %</h3>
	<h3> temperature  ==>  {{ temperature  }} oC</h3>
	<hr>
	<h3> Last Sensors Reading: {{ date_time }} ==> <a href="/" class="button">REFRESH</a></h3>
	<hr>
	<h3> HISTORICAL DATA </h3>
	<p>Enter number of samples to retrieve: <form method="POST"><input name="numSamples" value = {{numSamples}}><input type="submit"></form></p>
	<hr>
	<img src="/plot/temperature" alt="Image Placeholder" width="20%">
	<img src="/plot/ph" alt="Image Placeholder" width="20%">
	<hr>
   </body>
</html>